In [1]:
import pandas as pd
import csv
import os

In [2]:
#FROM NOTES: energy source generation:annual generation of energy by state (eia.gov)
# SOURCE: https://www.eia.gov/electricity/data/state/

eiafile = os.path.join('Resources', 'eia.xls')
eai_df = pd.read_excel(eiafile, encoding='UTF-8')
eai_df.head(10)

,YEAR,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours)
0,1990,AK,Total Electric Power Industry,Total,5599506.0
1,1990,AK,Total Electric Power Industry,Coal,510573.0
2,1990,AK,Total Electric Power Industry,Hydroelectric Conventional,974521.0
3,1990,AK,Total Electric Power Industry,Natural Gas,3466261.0
4,1990,AK,Total Electric Power Industry,Petroleum,497116.0
5,1990,AK,Total Electric Power Industry,Wind,0.0
6,1990,AK,Total Electric Power Industry,Wood and Wood Derived Fuels,151035.0
7,1990,AK,"Electric Generators, Electric Utilities",Total,4493024.0
8,1990,AK,"Electric Generators, Electric Utilities",Coal,311960.0
9,1990,AK,"Electric Generators, Electric Utilities",Hydroelectric Conventional,974521.0

In [3]:
# FROM NOTES: health respiratory data: Mortality rate for respiratory diseases from 1980-2014 (globalhealthdataexchange)
# SOURCE: http://ghdx.healthdata.org/record/united-states-chronic-respiratory-disease-mortality-rates-county-1980-2014

healthfile = os.path.join('Resources', 'us_resp_mort.xlsx')
health_df = pd.read_excel(healthfile, sheet_name='Summary', encoding='UTF-8')
health_df.head()

,State,Mortality Rate 2000,Mortality Rate 2005,Mortality Rate 2010,Mortality Rate 2014
0,Alabama,65.65,69.21,70.86,73.44
1,Alaska,60.23,56.90,52.77,51.36
2,Arizona,58.24,56.44,51.18,51.93
3,Arkansas,62.11,65.31,66.44,69.63
4,California,52.14,49.25,44.59,41.94

In [4]:
# FROM NOTES: labor/wages: income by year from 1984-2017 (census.gov)
# SOURCE: https://www.census.gov/data/tables/time-series/demo/income-poverty/historical-income-households.html
#     Table H-8. Median Household Income by State

incomefile = os.path.join('Resources', 'median_income_yearly.xlsx')
income_df = pd.read_excel(incomefile, encoding='UTF-8')
income_df.head(15)

,State,2017 Median Income,2016 Median Income,2015 Median Income,2014 Median Income,2013 Median Income,2012 Median Income,2011 Median Income,2010 Median Income,2009 Median Income,2008 Median Income,2007 Median Income,2006 Median Income,2005 Median Income,2004 Median Income,2003 Median Income,2002 Median Income,2001 Median Income,2000 Median Income
0,United States,61372.0,59039.0,56516.0,53657.0,53585.0,51017.0,50054.0,49276.0,49777.0,50303.0,50233.0,48201.0,46326.0,44334.0,43318.0,42409.0,42228.0,41990.0
1,Alabama,51113.0,47221.0,44509.0,42278.0,47320.0,43464.0,42590.0,40933.0,39980.0,44476.0,42212.0,37952.0,37150.0,36629.0,37255.0,37603.0,35160.0,35424.0
2,Alaska,72231.0,75723.0,75112.0,67629.0,72472.0,63648.0,57431.0,57848.0,61604.0,63989.0,62993.0,56418.0,55891.0,55063.0,51837.0,52774.0,57363.0,52847.0
3,Arizona,61125.0,57100.0,52248.0,49254.0,52611.0,47044.0,48621.0,46896.0,45739.0,46914.0,47215.0,46657.0,45245.0,43846.0,41166.0,39734.0,42704.0,39783.0
4,Arkansas,48829.0,45907.0,42798.0,44922.0,39376.0,39018.0,41302.0,38587.0,36538.0,39586.0,40795.0,37057.0,36658.0,34984.0,32002.0,32387.0,33339.0,29697.0
5,California,69759.0,66637.0,63636.0,60487.0,60794.0,57020.0,53367.0,54283.0,56134.0,57014.0,55734.0,55319.0,51755.0,49222.0,49300.0,47437.0,47262.0,46816.0
6,Colorado,74172.0,70566.0,66596.0,60940.0,67912.0,57255.0,58629.0,60233.0,55930.0,60943.0,61141.0,55697.0,50449.0,50886.0,49940.0,48294.0,49397.0,48240.0
7,Connecticut,72780.0,75923.0,72889.0,70161.0,69291.0,64247.0,65415.0,65998.0,64851.0,64682.0,64141.0,62404.0,56835.0,55100.0,54965.0,53387.0,53347.0,50172.0
8,Delaware,62318.0,58046.0,57756.0,57522.0,54091.0,48972.0,54660.0,55214.0,52114.0,50702.0,54589.0,52438.0,51235.0,48049.0,49019.0,49650.0,49602.0,50365.0
9,D.C.,83382.0,70982.0,70071.0,68277.0,60057.0,65246.0,55251.0,56928.0,53141.0,55590.0,50783.0,48477.0,44993.0,43451.0,45044.0,39070.0,41169.0,41222.0
10,Florida,53681.0,51176.0,48825.0,46140.0,48532.0,46071.0,45105.0,44066.0,45631.0,44857.0,45794.0,45676.0,42990.0,40535.0,38972.0,38024.0,36421.0,38856.0
11,Georgia,57016.0,53527.0,50768.0,49555.0,46992.0,48121.0,45973.0,44117.0,43340.0,46227.0,48641.0,49344.0,45926.0,40984.0,42438.0,42939.0,42576.0,41901.0
12,Hawaii,73575.0,72133.0,64514.0,71223.0,64235.0,56263.0,59047.0,59539.0,55649.0,61521.0,64022.0,60470.0,59586.0,56242.0,51834.0,47303.0,47439.0,51546.0
13,Idaho,60208.0,56564.0,51624.0,53438.0,48467.0,47922.0,47459.0,47050.0,46778.0,47420.0,49184.0,46213.0,44176.0,44358.0,42372.0,37715.0,38241.0,37611.0
14,Illinois,64609.0,61386.0,60413.0,54916.0,53937.0,51738.0,50637.0,50728.0,52870.0,53254.0,52506.0,48671.0,48398.0,46077.0,45153.0,42710.0,46171.0,46064.0

In [5]:
# FROM NOTES: emissions: emissions and generation resource integrated database (epa.gov)

# this file is for a summary of 2016 "State Output Emission rates
# SOURCE: https://www.epa.gov/energy/emissions-generation-resource-integrated-database-egrid

# emissionsfile = os.path.join('Project-1', 'Resources', 'eGrid2016.xlsx')
# emissions_df = pd.read_excel(emissionsfile, sheet_name='Table 3', encoding='UTF-8')
# emissions_df.head(15)



# OTHER NOTES: eGRID_All_Files_1996_thru_2016_data.zip contains all files from all editions of eGRID including operational data for the following years:
#   1996, 1997, 1998, 1999, 2000, 2004, 2005, 2007, 2009, 2010, 2012, 2014, and 2016.

In [7]:
#Energy generation stuff 
#isolate type of producer
scotts_total_power = eai_df[eai_df["TYPE OF PRODUCER"]=="Total Electric Power Industry"]
scotts_total_power.head()

#group by the important stuff
scotts_total_power_df = scotts_total_power.groupby(["YEAR", "STATE", "ENERGY SOURCE"]).sum()
scotts_total_power_df.head(10000)

#isolate type of energy source
Coal =scotts_total_power[scotts_total_power["ENERGY SOURCE"] =="Coal"] 
Petroleum =scotts_total_power[scotts_total_power["ENERGY SOURCE"] =="Petroleum"] 
Nuclear =scotts_total_power[scotts_total_power["ENERGY SOURCE"] =="Nuclear"]
Natural_gas =scotts_total_power[scotts_total_power["ENERGY SOURCE"] =="Natural Gas"] 
Hydroelectric =scotts_total_power[scotts_total_power["ENERGY SOURCE"] =="Hydroelectric Conventional"] 
Other_biomass =scotts_total_power[scotts_total_power["ENERGY SOURCE"] =="Other Biomass"] 
Other =scotts_total_power[scotts_total_power["ENERGY SOURCE"] =="Other"]
Total =scotts_total_power[scotts_total_power["ENERGY SOURCE"] =="Total"] 

#group the types of energy sources by state
Coal_group = Coal.groupby(["YEAR","STATE"])
Petroleum_group =Petroleum.groupby(["YEAR","STATE"])
Nuclear_group =Nuclear.groupby(["YEAR","STATE"])
Natural_gas_group =Natural_gas.groupby(["YEAR","STATE"])
Hydroelectric_group =Hydroelectric.groupby(["YEAR","STATE"])
Other_biomass_group =Other_biomass.groupby(["YEAR","STATE"])
Other_group =Other.groupby(["YEAR","STATE"])
Total_group =Total.groupby(["YEAR","STATE"])

#lets see what the cleaned data looks like
Coal_group.head(50)

,YEAR,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours)
1,1990,AK,Total Electric Power Industry,Coal,5.105730e+05
21,1990,AL,Total Electric Power Industry,Coal,5.365812e+07
50,1990,AR,Total Electric Power Industry,Coal,1.920794e+07
76,1990,AZ,Total Electric Power Industry,Coal,3.191561e+07
99,1990,CA,Total Electric Power Industry,Coal,2.637677e+06
154,1990,CO,Total Electric Power Industry,Coal,2.981498e+07
180,1990,CT,Total Electric Power Industry,Coal,3.594645e+06
215,1990,DC,Total Electric Power Industry,Coal,0.000000e+00
222,1990,DE,Total Electric Power Industry,Coal,5.113479e+06
238,1990,FL,Total Electric Power Industry,Coal,6.010026e+07
272,1990,GA,Total Electric Power Industry,Coal,6.854569e+07
304,1990,HI,Total Electric Power Industry,Coal,2.381000e+03
331,1990,IA,Total Electric Power Industry,Coal,2.575194e+07
361,1990,ID,Total Electric Power Industry,Coal,4.437100e+04
381,1990,IL,Total Electric Power Industry,Coal,5.496602e+07
412,1990,IN,Total Electric Power Industry,Coal,9.692555e+07
434,1990,KS,Total Electric Power Industry,Coal,2.372026e+07
453,1990,KY,Total Electric Power Industry,Coal,7.050046e+07
463,1990,LA,Total Electric Power Industry,Coal,1.785669e+07
496,1990,MA,Total Electric Power Industry,Coal,1.136589e+07
535,1990,MD,Total Electric Power Industry,Coal,2.350986e+07
568,1990,ME,Total Electric Power Industry,Coal,4.532180e+05
602,1990,MI,Total Electric Power Industry,Coal,6.706687e+07
642,1990,MN,Total Electric Power Industry,Coal,2.817628e+07
675,1990,MO,Total Electric Power Industry,Coal,4.879679e+07
697,1990,MS,Total Electric Power Industry,Coal,9.526527e+06
713,1990,MT,Total Electric Power Industry,Coal,1.511962e+07
734,1990,NC,Total Electric Power Industry,Coal,4.982160e+07
769,1990,ND,Total Electric Power Industry,Coal,2.518900e+07
783,1990,NE,Total Electric Power Industry,Coal,1.266115e+07
...,...,...,...,...,...
48246,2017,ME,Total Electric Power Industry,Coal,6.793500e+04
48288,2017,MI,Total Electric Power Industry,Coal,4.202055e+07
48346,2017,MN,Total Electric Power Industry,Coal,2.278190e+07
48398,2017,MO,Total Electric Power Industry,Coal,6.751894e+07
48444,2017,MS,Total Electric Power Industry,Coal,4.628230e+06
48472,2017,MT,Total Electric Power Industry,Coal,1.386410e+07
48505,2017,NC,Total Electric Power Industry,Coal,3.446017e+07
48557,2017,ND,Total Electric Power Industry,Coal,2.675646e+07
48583,2017,NE,Total Electric Power Industry,Coal,2.117356e+07
48614,2017,NH,Total Electric Power Industry,Coal,2.872810e+05
48647,2017,NJ,Total Electric Power Industry,Coal,1.216091e+06
48693,2017,NM,Total Electric Power Industry,Coal,1.841448e+07
48725,2017,NV,Total Electric Power Industry,Coal,1.865592e+06
48762,2017,NY,Total Electric Power Industry,Coal,7.702960e+05
48816,2017,OH,Total Electric Power Industry,Coal,6.834364e+07
48869,2017,OK,Total Electric Power Industry,Coal,1.736785e+07
48906,2017,OR,Total Electric Power Industry,Coal,1.728105e+06
48949,2017,PA,Total Electric Power Industry,Coal,4.763427e+07
49002,2017,RI,Total Electric Power Industry,Coal,0.000000e+00
49027,2017,SC,Total Electric Power Industry,Coal,1.815174e+07
49070,2017,SD,Total Electric Power Industry,Coal,2.062462e+06
49091,2017,TN,Total Electric Power Industry,Coal,2.771528e+07
49133,2017,TX,Total Electric Power Industry,Coal,1.346484e+08
49184,2017,US-Total,Total Electric Power Industry,Coal,1.205835e+09
49257,2017,UT,Total Electric Power Industry,Coal,2.638957e+07
49299,2017,VA,Total Electric Power Industry,Coal,1.072642e+07
49374,2017,WA,Total Electric Power Industry,Coal,5.489503e+06
49420,2017,WI,Total Electric Power Industry,Coal,3.585222e+07
49467,2017,WV,Total Electric Power Industry,Coal,6.834901e+07
49495,2017,WY,Total Electric Power Industry,Coal,4.006857e+07

In [ ]:
#######   Robby emission stuff   ##############
# Dependencies
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#file location (this was for the first example I made - now I will try and put all of the others into a folder)
#file = "2016_example2.csv"

#file location, from folder with all 'clean' data
master = "all_years_data_clean/master_final.csv"

#show file
df_original = pd.read_csv(master)
df_original.head()

#my_df = pd.DataFrame(df_original, index =['State abbreviation'], columns=['State annual NOx emissions (tons)', 'State annual SO2 emissions (tons)', 'State annual CO2 emissions (tons)', 'State annual CH4 emissions (lbs)', 'State annual N2O emissions (lbs)'])
my_df = pd.DataFrame(df_original)
my_df['State annual NOx emissions (tons)'].dtype

# after looking through errors, found a discrepancy in the core data
# print(my_df.loc[313])

# replace that discrepancy with a "0" value
my_df['State annual NOx emissions (tons)'][313]=0
print(my_df.loc[313])

In [ ]:
#######   Robby emission stuff   ##############
#change data so that you remove commmas and dash marks
my_df['State abbreviation'] = my_df['State abbreviation'].str.replace('-', '0')
my_df['State annual NOx emissions (tons)'] = my_df['State annual NOx emissions (tons)'].str.replace(',', '')
my_df['State annual SO2 emissions (tons)'] = my_df['State annual SO2 emissions (tons)'].str.replace(',', '')
my_df['State annual CO2 emissions (tons)'] = my_df['State annual CO2 emissions (tons)'].str.replace(',', '')
my_df['State annual CH4 emissions (lbs)'] = my_df['State annual CH4 emissions (lbs)'].str.replace(',', '')
my_df['State annual N2O emissions (lbs)'] = my_df['State annual N2O emissions (lbs)'].str.replace(',', '')

In [ ]:
#######   Robby emission stuff   ##############
#organize by year
yearly_df = my_df.groupby(['Year'])
yearly_df.head()

In [ ]:
#######   Robby emission stuff   ##############
# change the data type so that it can be summed up
total_nox = yearly_df['State annual NOx emissions (tons)'] = pd.to_numeric(yearly_df['State annual NOx emissions (tons)']).sum()
total_so2 = yearly_df['State annual SO2 emissions (tons)'] = pd.to_numeric(yearly_dfyearly_df['State annual SO2 emissions (tons)']).sum()
total_co2 = yearly_df['State annual CO2 emissions (tons)'] = pd.to_numeric(yearly_df['State annual CO2 emissions (tons)']).sum()
total_ch4 = yearly_df['State annual CH4 emissions (lbs)'] = pd.to_numeric(yearly_df['State annual CH4 emissions (lbs)']).sum()
total_n2o = yearly_df['State annual N2O emissions (lbs)'] = pd.to_numeric(yearly_df['State annual N2O emissions (lbs)']).sum()

In [ ]:
#######   Robby emission stuff   ##############
# x_variable = yearly_df['Year']
# y_variable = yearly_df["State annual NOx emissions (tons)"].sum()
plt.plot(my_df.groupby(['Year']), total_nox)
plt.show()