In [20]:
import pandas as pd
import csv
import os

In [16]:
#FROM NOTES: energy source generation:annual generation of energy by state (eia.gov)
# SOURCE: https://www.eia.gov/electricity/data/state/

eiafile = os.path.join('Project-1','Resources', 'eia.xls')
eai_df = pd.read_excel(eiafile, encoding='UTF-8')
eai_df.head(10)

,YEAR,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours)
0,1990,AK,Total Electric Power Industry,Total,5599506.0
1,1990,AK,Total Electric Power Industry,Coal,510573.0
2,1990,AK,Total Electric Power Industry,Hydroelectric Conventional,974521.0
3,1990,AK,Total Electric Power Industry,Natural Gas,3466261.0
4,1990,AK,Total Electric Power Industry,Petroleum,497116.0
5,1990,AK,Total Electric Power Industry,Wind,0.0
6,1990,AK,Total Electric Power Industry,Wood and Wood Derived Fuels,151035.0
7,1990,AK,"Electric Generators, Electric Utilities",Total,4493024.0
8,1990,AK,"Electric Generators, Electric Utilities",Coal,311960.0
9,1990,AK,"Electric Generators, Electric Utilities",Hydroelectric Conventional,974521.0

In [17]:
# FROM NOTES: health respiratory data: Mortality rate for respiratory diseases from 1980-2014 (globalhealthdataexchange)
# SOURCE: http://ghdx.healthdata.org/record/united-states-chronic-respiratory-disease-mortality-rates-county-1980-2014

healthfile = os.path.join('Project-1','Resources', 'us_resp_mort.xlsx')
health_df = pd.read_excel(healthfile, sheet_name='Summary', encoding='UTF-8')
health_df.head()

,State,Mortality Rate 2000,Mortality Rate 2005,Mortality Rate 2010,Mortality Rate 2014
0,Alabama,65.65,69.21,70.86,73.44
1,Alaska,60.23,56.90,52.77,51.36
2,Arizona,58.24,56.44,51.18,51.93
3,Arkansas,62.11,65.31,66.44,69.63
4,California,52.14,49.25,44.59,41.94

In [22]:
# FROM NOTES: labor/wages: income by year from 1984-2017 (census.gov)
# SOURCE: https://www.census.gov/data/tables/time-series/demo/income-poverty/historical-income-households.html
#     Table H-8. Median Household Income by State

incomefile = os.path.join('Project-1','Resources', 'median_income_yearly.xlsx')
income_df = pd.read_excel(incomefile, encoding='UTF-8')
income_df.head(15)

,State,2017 Median Income,2016 Median Income,2015 Median Income,2014 Median Income,2013 Median Income,2012 Median Income,2011 Median Income,2010 Median Income,2009 Median Income,2008 Median Income,2007 Median Income,2006 Median Income,2005 Median Income,2004 Median Income,2003 Median Income,2002 Median Income,2001 Median Income,2000 Median Income
0,United States,61372.0,59039.0,56516.0,53657.0,53585.0,51017.0,50054.0,49276.0,49777.0,50303.0,50233.0,48201.0,46326.0,44334.0,43318.0,42409.0,42228.0,41990.0
1,Alabama,51113.0,47221.0,44509.0,42278.0,47320.0,43464.0,42590.0,40933.0,39980.0,44476.0,42212.0,37952.0,37150.0,36629.0,37255.0,37603.0,35160.0,35424.0
2,Alaska,72231.0,75723.0,75112.0,67629.0,72472.0,63648.0,57431.0,57848.0,61604.0,63989.0,62993.0,56418.0,55891.0,55063.0,51837.0,52774.0,57363.0,52847.0
3,Arizona,61125.0,57100.0,52248.0,49254.0,52611.0,47044.0,48621.0,46896.0,45739.0,46914.0,47215.0,46657.0,45245.0,43846.0,41166.0,39734.0,42704.0,39783.0
4,Arkansas,48829.0,45907.0,42798.0,44922.0,39376.0,39018.0,41302.0,38587.0,36538.0,39586.0,40795.0,37057.0,36658.0,34984.0,32002.0,32387.0,33339.0,29697.0
5,California,69759.0,66637.0,63636.0,60487.0,60794.0,57020.0,53367.0,54283.0,56134.0,57014.0,55734.0,55319.0,51755.0,49222.0,49300.0,47437.0,47262.0,46816.0
6,Colorado,74172.0,70566.0,66596.0,60940.0,67912.0,57255.0,58629.0,60233.0,55930.0,60943.0,61141.0,55697.0,50449.0,50886.0,49940.0,48294.0,49397.0,48240.0
7,Connecticut,72780.0,75923.0,72889.0,70161.0,69291.0,64247.0,65415.0,65998.0,64851.0,64682.0,64141.0,62404.0,56835.0,55100.0,54965.0,53387.0,53347.0,50172.0
8,Delaware,62318.0,58046.0,57756.0,57522.0,54091.0,48972.0,54660.0,55214.0,52114.0,50702.0,54589.0,52438.0,51235.0,48049.0,49019.0,49650.0,49602.0,50365.0
9,D.C.,83382.0,70982.0,70071.0,68277.0,60057.0,65246.0,55251.0,56928.0,53141.0,55590.0,50783.0,48477.0,44993.0,43451.0,45044.0,39070.0,41169.0,41222.0
10,Florida,53681.0,51176.0,48825.0,46140.0,48532.0,46071.0,45105.0,44066.0,45631.0,44857.0,45794.0,45676.0,42990.0,40535.0,38972.0,38024.0,36421.0,38856.0
11,Georgia,57016.0,53527.0,50768.0,49555.0,46992.0,48121.0,45973.0,44117.0,43340.0,46227.0,48641.0,49344.0,45926.0,40984.0,42438.0,42939.0,42576.0,41901.0
12,Hawaii,73575.0,72133.0,64514.0,71223.0,64235.0,56263.0,59047.0,59539.0,55649.0,61521.0,64022.0,60470.0,59586.0,56242.0,51834.0,47303.0,47439.0,51546.0
13,Idaho,60208.0,56564.0,51624.0,53438.0,48467.0,47922.0,47459.0,47050.0,46778.0,47420.0,49184.0,46213.0,44176.0,44358.0,42372.0,37715.0,38241.0,37611.0
14,Illinois,64609.0,61386.0,60413.0,54916.0,53937.0,51738.0,50637.0,50728.0,52870.0,53254.0,52506.0,48671.0,48398.0,46077.0,45153.0,42710.0,46171.0,46064.0

In [24]:
# FROM NOTES: emissions: emissions and generation resource integrated database (epa.gov)

# this file is for a summary of 2016 "State Output Emission rates
# SOURCE: https://www.epa.gov/energy/emissions-generation-resource-integrated-database-egrid

# emissionsfile = os.path.join('Project-1', 'Resources', 'eGrid2016.xlsx')
# emissions_df = pd.read_excel(emissionsfile, sheet_name='Table 3', encoding='UTF-8')
# emissions_df.head(15)



# OTHER NOTES: eGRID_All_Files_1996_thru_2016_data.zip contains all files from all editions of eGRID including operational data for the following years:
#   1996, 1997, 1998, 1999, 2000, 2004, 2005, 2007, 2009, 2010, 2012, 2014, and 2016.